<!-- home.component.html -->
<body>
<div class="home">
  <!-- Sección del mapa -->
  <div class="map-section">
    <div class="map-container">
      <div class="button green">DONANTE</div>
      <div class="button orange">DAMNIFICADO</div>
    </div>
  </div>

  <!-- Galería de imágenes -->
  <div class="image-gallery">
    <div class="gallery-item"></div>
    <div class="gallery-item"></div>
    <div class="gallery-item"></div>
    <div class="gallery-item"></div>
    <div class="gallery-item"></div>
  </div>
</div>
</body>
