<body>
<div class="container">
  <div class="nostros-sidevar">
    <div class="text-content">
      <h1>¿Cómo funciona App Help?</h1>
      <p>
        En help! estamos comprometidos con Perú en tiempos de desastre. Nos dedicamos a proporcionar ayuda inmediata y reconstrucción a largo plazo a las comunidades afectadas por desastres naturales. Con transparencia y eficiencia, canalizamos recursos hacia donde más se necesitan, brindando esperanza y apoyo en momentos críticos.
      </p>
    </div>
  </div>
</div>
</body>
