<h2>APP HELP</h2>
<nav>
<!--  NavBar-->
  <a [routerLink]="'/'">Home</a> |
  <a [routerLink]="'acerca'">Acerca</a> |
  <a [routerLink]="'campanias'">Campaña</a> |
  <a [routerLink]="'nuevo'">Nuevo</a> |
  <a [routerLink]="'donacion'">Donacion</a> |
  <a [routerLink]="'departamentos'">Departamentos</a> |
  <a [routerLink]="'nuevodepartamento'">Nuevo Departamento</a> |
  <a [routerLink]="'distritos'">Distritos</a> |
  <a [routerLink]="'nuevodistrito'">Nuevo Distrito</a> |
</nav>
<router-outlet />
