

.toolbar-item-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background-color: #3f51b5; /* Cambia el color por el que prefieras */
  color: white; /* Cambia el color del texto si es necesario */
}
.material-icons{
  color: coral;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}


/*list*/
.app-sidenav-content {
  display: flex;
  width: 100%;   /* Asegura que el contenedor ocupe todo el espacio disponible */
  height: 100%;
  align-items: center;
  justify-content: center;
}

.titulo-central {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 35px;
  color: #fa5919;
}

.eco-recaudacion-section {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

@media (max-width: 768px) {
  .eco-recaudacion-section {
    width: 95%;
  }
}
.eco-recaudacion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 24px; /* Espaciado entre secciones */
}

.titulo-central {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.botones-container {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Espaciado entre botones */
  width: 100%;
  max-width: 400px;
}

.formulario-container {
  width: 100%;
  max-width: 400px;
}

.formulario-inline {
  display: flex;
  align-items: center;
  gap: 12px; /* Espaciado entre el campo de entrada y el botón */
}

.campo-inline {
  flex: 1; /* El campo de entrada ocupará todo el espacio restante */
}

mat-form-field {
  width: 100%; /* Se asegura de que el campo de entrada ocupe el espacio disponible */
}

button {
  font-size: 16px;
}

