<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>APP HELP</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-icon-button matTooltip="Share">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Notifications">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#">
      <mat-icon>person</mat-icon><span>My Account</span>
    </button>
    <button mat-menu-item routerLink="#">
      <mat-icon>settings</mat-icon><span>Settings</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Logout
    </button>

  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dashboard/home'">
        <mat-icon>home</mat-icon> Home</a>
      <a mat-list-item [routerLink]="'/dashboard/acerca'">
        <mat-icon>info</mat-icon> Acerca</a>

      <!-- Menú desplegable para Campaña -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Campaña</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/campanias'">Ver Campaña</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevocampania'">Nuevo Campaña</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para Donacion -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Donacion</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/donaciones'">Ver Donación</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevodonacion'">Nueva Donación</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para Departamentos -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Departamentos</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/departamentos'">Ver Departamentos</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevodepartamento'">Nuevo Departamento</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para Distrito -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Distritos</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/distritos'">Ver Distritos</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevodistrito'">Nuevo Distrito</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para TipoBeneficiario -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Tipo Beneficiario</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/tipobeneficiarios'">Ver Tipo Beneficiario</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevotipobeneficiario'">Nuevo Tipo Beneficiario</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para Cuentabancario -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Cuenta Bancario</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/cuentabancarias'">Ver Cuenta Bancaria</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevocuentabancaria'">Nuevo Cuenta Bancaria</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para estado -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Estado</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/estados'">Ver Estado</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevoestado'">Nuevo Estado</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para tipo donacion -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Tipo Donacion</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/tipoDonaciones'">Ver Tipo Donacion</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevotipoDonacion'">Nuevo Tipo Donacion</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para tipo usuario -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Tipo Usuario</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/tipousuarios'">Ver Tipo Usuario</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevotipousuario'">Nuevo Tipo Usuario</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Menú desplegable para usuario -->
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>Usuario</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard/usuarios'">Ver Usuario</a>
          <a mat-list-item [routerLink]="'/dashboard/nuevousuario'">Nuevo Usuario</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet>
      <div class="app-sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

