
.toolbar-item-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background-color: black; /* Cambia el color por el que prefieras */
  color: white; /* Cambia el color del texto si es necesario */
}
.material-icons{
  color: #FF9090;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.mat-sidenav {
  width: 300px;  /* Cambia este valor para ajustar el ancho */
}
.app-sidenav-container {
  width: 300px;  /* Ajusta el ancho del contenedor del sidenav */
}

/*list*/
.app-sidenav-content {
  display: flex;
  width: 100%;   /* Asegura que el contenedor ocupe todo el espacio disponible */
  height: 100%;
  align-items: center;
  justify-content: center;
}

