<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="idDonacion">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.idDonacion}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ubicacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicacion </th>
      <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="monto">
      <th mat-header-cell *matHeaderCellDef> Monto </th>
      <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio|date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaFin|date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="detalle">
      <th mat-header-cell *matHeaderCellDef> Detalle </th>
      <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
    </ng-container>

    <!-- Campaña Column -->
    <ng-container matColumnDef="campania">
      <th mat-header-cell *matHeaderCellDef> Campaña </th>
      <td mat-cell *matCellDef="let element"> {{element.campania.nombre}} </td>
    </ng-container>

    <!-- Tipo Donacion Column -->
    <ng-container matColumnDef="tipodonacion">
      <th mat-header-cell *matHeaderCellDef> Tipo Donacion </th>
      <td mat-cell *matCellDef="let element"> {{element.tipodonacion.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="accion01">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary"
                [routerLink]="['/dashboard/nuevodonacion-edit',element.idDonacion]">
          <span class="material-icons">update</span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion02">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn"
                (click)="openDialog(element.idDonacion)"><span class="material-icons">delete_sweep</span></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
